<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Manga Status</th>
            <th scope="col">Total Chapters</th>
            <th scope="col">Genres</th>
            <th scope="col">Watch Status</th>
            <th scope="col">Current Chapter</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mangaUser of mangasUser; let i = index; trackBy: trackByMalId">
            <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
            <td>
                <img [src]="mangaUser.manga.image" class="me-2" style="width: 50px" />
                {{ mangaUser.manga.title }}
            </td>
            <td>{{ mangaUser.manga.mangaStatus }}</td>
            <td>{{ mangaUser.manga.totalChapters | number }}</td>
            <td>
                <div *ngFor="let genre of mangaUser.manga.genres">
                    {{ genre }}<br />
                </div>
            </td>
            <td>{{ mangaUser.favoriteManga.watchStatus }}</td>
            <td>{{ mangaUser.favoriteManga.currentChapter | number }}</td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="filter()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="filter()">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
        <option [ngValue]="50">50 items per page</option>
    </select>
</div>