.wrapper {
  display: grid;
  grid-template-columns: auto clamp(450px, 25%, 600px);
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  text-align: center;
  transition: color var(--transition-duration) linear,
    background-color var(--transition-duration) linear,
    --secondary-color var(--transition-duration) linear;
}

h2 {
  font-family: var(--ff-accent);
  font-size: var(--fs-700);
  padding-bottom: 2rem;
}

.register-full-width {
  width: 80%;
}

.label,
.input {
  color: var(--clr-text);
}

.error {
  color: red;
}

.button-register {
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  color: var(--clr-text);
}

.button-register:hover,
.button-register:active {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  color: var(--clr-text);
}

.button-register:disabled {
  background-color: var(--secondary-color);
  border: 1px solid var(--accent-color);
  color: var(--clr-text);
  opacity: 30%;
}

.mdc-text-field__input {
  color: var(--clr-text) !important;
}

@media screen and (max-width: 1000px) {
  .wrapper {
    grid-template-columns: auto clamp(350px, 35%, 500px);
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    grid-template-columns: auto clamp(350px, 50%, 500px);
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 0% auto;
  }
}
