<div class="wrapper">
    <form class="login-form">
        <mat-form-field class="login-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
            @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="login-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" placeholder="password" min="8">
            @if (passwordFormControl.hasError('min') && !passwordFormControl.hasError('required')) {
            <mat-error>Please enter at least 8 characters</mat-error>
            }
            @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <section>
            <button type="button" [disabled]="emailFormControl.invalid||passwordFormControl.invalid" mat-stroked-button
                (click)="login()">Login</button>
        </section>
    </form>
    <section>
        <div class="example-button-row">
            <button type="button" mat-stroked-button (click)="register()">Register</button>
        </div>
    </section>
</div>