.accept {
  background-color: green;
  border: rgb(0, 117, 0);
}

.accept:active {
  background-color: rgb(187, 187, 187);
  border: rgb(0, 117, 0);
}

.cancel {
  background-color: red;
  border: rgb(184, 1, 1);
}

.cancel:active {
  background-color: rgb(187, 187, 187);
  border: rgb(184, 1, 1);
}
