<h2>Updating "{{anime.name}}" Information</h2>
<h5>Please Enter The Updated Anime Information!!!</h5>

<form class="row g-3" novalidate [formGroup]="animeForm" (ngSubmit)="updateAnime()">
    <div class="form-floating col-md-3">
        <input
            [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
            class="form-control" id="floatingName" type="text" formControlName="name" placeholder="{{anime.name}}">
        <label
            for="floatingName">Title</label>
        <div *ngIf="animeForm.controls.name.invalid && (animeForm.controls.name.dirty || animeForm.controls.name.touched)"
            class="alert alert-danger">
            Title is required.
        </div>
    </div>
    <div class="form-floating col-md-3">
        <select
            [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
            class="form-select" id="floatingSelect" aria-label="Floating label select example" title="status"
            formControlName="status">
            <option
                [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
                value="To Watch">To Watch</option>
            <option
                [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
                value="Watching">Watching</option>
            <option
                [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
                value="Seen">Seen</option>
            <option
                [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
                value="Dropped">Dropped</option>
        </select> <label
            for="floatingSelect">Status</label>
        <div *ngIf="animeForm.controls.status.invalid && (animeForm.controls.status.dirty || animeForm.controls.status.touched)"
            class="alert alert-danger">
            Status is required.
        </div>
    </div>
    <div class="form-floating col-md-3">
        <input
            [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
            class="form-control" id="floatingEp" type="text" formControlName="episode" placeholder="{{anime.episode}}">
        <label
            for="floatingEp">Last Episode</label>
        <div *ngIf="animeForm.controls.episode.invalid && (animeForm.controls.episode.dirty || animeForm.controls.episode.touched)"
            class="alert alert-danger">
            Episode is required.
        </div>
    </div>
    <div class="form-floating col-md-3">
        <input
            [ngClass]="{'dark-mode bg-dark text-light': apiService.isDarkMode(), 'light-mode bg-light text-dark': !apiService.isDarkMode()}"
            class="form-control" id="floatingUrl" type="url" formControlName="image" placeholder="{{anime.image}}">
        <label for="floatingUrl">Image Url</label>
        <div *ngIf="animeForm.controls.image.invalid && (animeForm.controls.image.dirty || animeForm.controls.image.touched)"
            class="alert alert-danger">
            Invalid URL.
        </div>
    </div>
    <div class="col-md-1">
        <button class="accept btn btn-primary" type="submit" [disabled]="animeForm.invalid">Submit</button>
    </div>
    <div class="col-md-1">
        <button class="cancel btn btn-primary" type="button" routerLink="/" routerLinkActive="active">Cancel</button>
    </div>
</form>