<article class="article-header">
  <div class="container">
    <div class="header-content">
      <h1 class="page-title">Just Another List</h1>
      <p>Welcome to "Just Another List," the perfect place for you to track and organize your favorite manga and
        anime series! Create your personalized list, keep tabs on what you've watched or read, and discover new
        titles to add to your collection. Whether you're a casual fan or a dedicated otaku, our platform makes
        it easy to manage your manga and anime journey. Start building your list today and never miss out on the
        next great series!</p>
    </div>
    <a class="arrow" href='#login'>
      <svg xmlns=" http://www.w3.org/2000/svg" width="160" height="160" fill="currentColor"
        class="bi bi-arrow-down-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4" />
      </svg>
    </a>
  </div>
  <img class="header-image" src="assets/header_img.jpg" alt="">
</article>



<app-login #login id="login"></app-login>
