.list-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  perspective: 1000px;
}

.card-manga {
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  background-color: var(--secondary-color);
}

.card-manga:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
}

.card-manga:hover + * {
  transform: scale(1.03), rotateY(40deg);
}

.card-header img {
  width: 100%;
  height: 350px;
  display: block;
}

.card-content {
  padding: 10px;
}

.card-content p {
  margin: 0;
  font-size: 14px;
  color: var(--clr-text);
}

.chapter {
  opacity: 0.5;
}

.carousel-wrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-mangas {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 5rem;
}

h1 {
  position: relative;
  padding-left: 1.5rem; /* Adjust padding to create space for the block */
}

h1::before {
  content: "";
  display: inline-block; /* Ensures the block behaves like a block element */
  width: 0.5rem;
  height: 3rem; /* Adjust height if needed */
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Vertically center the block */
}
