/* You can add global styles to this file, and also import other style files */
:root {
  --transition-duration: 0.25s;

  /* colors */
  --clr-text: #bbc8de;
  --clr-text-disabled: #bbc8de7f;

  --primary-color: #181818;
  --secondary-color: rgba(11, 44, 67, 0.404);
  --accent-color: rgba(44, 206, 255, 0.404);
  --error-color: red;

  --invert: invert(1);

  /* font families */
  --ff-base: "IBM Plex Sans", sans-serif;
  --ff-accent: "Young Serif", serif;

  /* font weights */
  --fw-regular: 500;
  --fw-bold: 600;
  --fw-black: 700;

  /* font sizes */
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2.25rem;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--secondary-color);
}

:root::-webkit-scrollbar {
  height: 8px;
}

:root::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

:root::-webkit-scrollbar-track {
  background: var(--accent-color);
}

body {
  background-color: var(--primary-color);
  color: var(--clr-text);
  font-family: var(--ff-base);
  font-size: var(--fs-300);
}

.text-center {
  text-align: center;
}

.text-center > * {
  margin-inline: auto;
}

.page-title {
  font-family: var(--ff-accent);
  font-size: var(--fs-700);
  margin-block: 4rem 1.5rem;
}

.subtitle {
  font-size: var(--fs-400);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--secondary-color) !important;
}
