.container {
  padding: 100px;
  padding-top: 20px;
}

.formContainer {
  padding-top: 20px;
  text-align: center;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .card {
    img {
      max-height: 8rem;
      min-height: 8rem;
    }
    p {
      margin-bottom: 0px;
    }
  }
}

.select_view {
  padding: 5px;
}
