<main class="main">
  <nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand">Anime List</span>
      <button class="navbar-toggler" type="button" aria-controls="navbarContent" aria-label="Toggle navigation">
      </button>

      <div class="navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Filter By Status </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <button ngbDropdownItem (click)="getByStatus('All')">All</button>
              <button ngbDropdownItem (click)="getByStatus('To Watch')">To Watch</button>
              <button ngbDropdownItem (click)="getByStatus('Watching')">Watching</button>
              <button ngbDropdownItem (click)="getByStatus('Seen')">Seen</button>
              <button ngbDropdownItem (click)="getByStatus('Dropped')">Dropped</button>
            </div>
          </li>
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
            <a class="nav-link" routerLink="/create-anime" routerLinkActive="active" ariaCurrentWhenActive="page">Create
              Anime</a>
          </li>
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
            <form [formGroup]="searchForm" (click)="search()">
              <input formControlName="name" type="text" name="search" placeholder="title" id="search_bar">
              <button type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="formContainer"> <router-outlet></router-outlet>
  </div>

  <div class="container">
    <h5>Count: {{animes.length}}</h5>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="select_view btn btn-primary" ngbDropdownItem (click)="galeryView()"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all"
          viewBox="0 0 16 16">
          <path d="M0 0h16v16H0zm1 1v6.5h6.5V1zm7.5 0v6.5H15V1zM15 8.5H8.5V15H15zM7.5 15V8.5H1V15z" />
        </svg> Galery</button>
      <button type="button" class="select_view btn btn-primary" ngbDropdownItem (click)="tableView()"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table"
          viewBox="0 0 16 16">
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z" />
        </svg> Table</button>
    </div>


    <div *ngIf="presentation=='galery'" class="galery">
      <div *ngFor="let anime of animes;index as i" class="card" style="width: 12rem;">
        <img src="{{anime.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{anime.name}}</h5>
          <p class="card-text" [ngStyle]="{'color': getColor(anime.status)}">Status: {{anime.status}}</p>
          <p class="card-text">Ep: {{anime.episode}}</p>
          <a class="card-link" routerLink="/update-anime/{{anime._id}}" routerLinkActive="active"
            ariaCurrentWhenActive="page">Update</a>
          <a class="card-link" routerLink="/delete-anime/{{anime._id}}" routerLinkActive="active"
            ariaCurrentWhenActive="page">Delete</a>
        </div>
      </div>
    </div>

    <table *ngIf="presentation=='table'" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Filter By Status </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <button ngbDropdownItem (click)="getByStatus('All')">All</button>
              <button ngbDropdownItem (click)="getByStatus('To Watch')">To Watch</button>
              <button ngbDropdownItem (click)="getByStatus('Watching')">Watching</button>
              <button ngbDropdownItem (click)="getByStatus('Seen')">Seen</button>
              <button ngbDropdownItem (click)="getByStatus('Dropped')">Dropped</button>
            </div>
          </th>
          <th scope="col">Episode</th>
          <th scope="col">Update/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let anime of animes;index as i">
          <th scope="row">{{i}}</th>
          <td>{{anime.name}}</td>
          <td [ngStyle]="{'color': getColor(anime.status)}">{{anime.status}}</td>
          <td>{{anime.episode}}</td>
          <td><a routerLink="/update-anime/{{anime._id}}" routerLinkActive="active" ariaCurrentWhenActive="page">Update
            </a>
            <span>/</span>
            <a routerLink="/delete-anime/{{anime._id}}" routerLinkActive="active" ariaCurrentWhenActive="page">
              Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="animes.length==0">
      <h5 style="text-align: center;">There's no Animes here you weak fuck!!!!</h5>
    </div>
  </div>
</main>