main {
  height: 100vh;
  overflow-y: auto;
}
.navbar {
  padding: 0px;
  border-bottom: 2px groove black;
}

.container {
  padding: 100px;
  padding-top: 20px;
  .btn-group {
    padding-bottom: 10px;
  }
}

.formContainer {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  .card {
    img {
      object-fit: cover;
      max-height: 8rem;
      min-height: 8rem;
    }
    .card-title {
      height: 50px; /* Adjust this value as needed */
      overflow: auto; /* Prevents long titles from spilling out of the container */
    }
    p {
      margin-bottom: 0px;
    }
  }
}

.select_view {
  padding: 5px;
}

.light-mode {
  /* styles for light mode */
}

.dark-mode {
  .navbar {
    border-bottom: 2px groove white;
  }

  .table td,
  tr,
  th {
    background-color: rgb(40, 40, 51);
    color: white;
  }

  .card {
    background-color: rgb(40, 40, 51);
    color: white;
  }
  /* styles for dark mode */
}
